html {
    width: 100%;
}

body {
    margin: 0px;
}

#header {
    background-color: rgb(100,200,100);
    width: 100%;
    height: 40px;
    padding: 10px;
}

#main {
    width: 100%;
    margin: 10px;
}

#footer {
    background-color: #999;
    width: 100%;
    height: 40px;
}

#section {
    margin: 25px;
    min-height: 700px;
}

h1,h2 {
    text-align: center;
    border-bottom: 2px solid #ccc;
    clear: both;
}

a:link, a:visited {
    color: rgb(10, 100, 30);
}

a:hover, a:active {
    color: rgb(70,230,90);
}

#title {
    font-size: 40px;
    color: #444;
}

p.tips {
    text-align: center;
    font-size: 15px;
}

p {
    font-size: 18px;
}

#info {
    background-color: #eee;
    width: 200px;
    border: 4px double grey;
    border-radius: 20px;
    margin: 50px;
    padding-left: 40px;
    float: right;
}

ul {
    padding: 5px;
}

ul.info {
    list-style-type: none;
}

li {
    font-size: large;
}